
* {
    font-family: sans-serif;
}

/* Navigation bar */
.navbar-brand {
    background-image: url(../images/navBrand.png);
    width: 130px;
    height: 62px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
}

.navbar-fixed-top {
    height: 70px;
}

ul.navbar-right {
    padding-top: 11px;
}

.toggle-menu:checked ~ div {
    display: block !important;
}
#menu-button {
    font-size: 40px;
    color: #555555;
}

.toggle-label {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 15px;
}

ul.navbar-right li {
    padding-left: 10px;
    font-weight:300;
}

.greetings {
    padding-top: 11px;
    padding-left: 50px;
    color: brown;
}

div.for-carousel {
    padding-top: 90px;
}

.img-caption {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 200;
}

#scroll-down {
    font-size: 15vmin;
    color: rgba(200,200,200,0.8);
    filter: blur(1px);
}

#scroll-down:hover, #scroll-down:focus, #scroll-down:active {
    transform: scale(1.1);
}

.arrow-down {
    height: 14.5vmin;
}

#project {
    padding-top: 70px;
    margin-top: -70px;
}

.project-img {
    width: 80%;
    margin: 0 auto;
}
.project-img p {
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
    margin-top: 10px;
}
.main-content {
    width: 95%;
    margin: 0 auto;
}

.img-footer {
    width: 60%;
    height: 0px;
    padding-bottom: 30%;
    background-image: url(../images/navBrand.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}
#back-to-top {
    border-color: #a52a2a;
    color: #a52a2a;
    margin-top: 5vmin;
    margin-bottom: 10vmin;
}

ul.dropdown-menu > li > a {
    color: #777;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;

}

.article-title {
    line-height: 1.5;
    font-weight: bold;
    padding-top: 90px;
    margin-top: -90px;
}
.article-subtitle {
    color: #c22b33;
    font-size: 25px;
}

blockquote > span {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
}

.quotation {
    font-style: italic;
}

.article-content {
    display: block;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

/*To make Youtube ifram responsive*/
.video-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    background-color: #777;
}

.video-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.search {
    margin-top: 40px;
}
.side-bar {
    position: relative;
    background-color: #f8f8f8;
    margin-top: 30px;
    border-radius: 5px;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
}
.side-bar a:link {
    font-size: ;
    color: #777777;
}

.side-bar-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 23px;
    color: #555555;
}

.side-bar-item {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-size: 18px;
    padding-left: 7.5px;
}

.side-bar-item:hover {
    background-color: #e7e7e7;
}

.side-bar-item:last-child {
    padding-bottom: 15px;
}

.street-view {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    margin-top: 50px;
}

.street-view iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
.ubi-logo {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.about-us {
    width: 60%;
    margin-top: 90px;
    /*background-color: #777777;*/
}

.contact {
    width: 30%;
    margin: 0 auto;
}

.contact form{
    padding-top: 15%;
}

.contact-item {
    margin-top: 8px;
}

#contact-info4 {
    height: 120px;
    margin-bottom: 8px;
}

.btn-contact {
    position: relative;
    margin: 0 auto;
}

.about-img {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

.about-img:hover, .separator:hover, .ubi-logo:hover, #back-to-top:hover {
    transform: scale(1.1);
}

.about-content {
    padding-top: 35px;
    text-align: justify;
}

#about {
    padding-top: 110px;
    margin-top: -90px;
}
/*#drop-down-menu {*/
    /*box-sizing: border-box;*/
    /*color: rgb(51,51,51);*/
    /*display: block;*/
    /*float: left;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 21px;*/
    /*font-weight: 300;*/
    /*line-height: 29.4px;*/
    /*list-style-image: none;*/
    /*list-style-position: outside;*/
    /*list-style-type: none;*/
    /*padding-left: 10px;*/
    /*position: relative;*/
    /*text-align: left;*/
/*}*/